/*-- WEBSITE HEADER + FOOTER --*/
/* These properties only apply to Distill sites and blogs  */

.distill-site-header {
  --title-size:       18px;    
  --text-size:        15px;
  --bkgd-color:       #358457; /* taken from slubi logo */
}

.distill-site-footer {
  --title-size:       18px;    
  --text-size:        15px;
  --bkgd-color:       #992243; /* taken from slubi logo */
}